args - arguments *kwargs - key word arguments

These are used for better understanding of code

In [1]:
def my_sum(a,b,c):
    return a+b+c

In [2]:
my_sum(2,4,6)

12

In [3]:
my_sum(2,4,6,8)

TypeError: my_sum() takes 3 positional arguments but 4 were given

In [4]:
def my_sum(*args):
    return sum(args)

In [5]:
my_sum(2,5,6,7,8)

28

In [13]:
def my_func(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [14]:
my_func(fruit='Apple',Vege='Tomato')

{'fruit': 'Apple', 'Vege': 'Tomato'}
My fruit is Apple

In [19]:
def myfunc(*args,**kwargs):
    print(args)
    
    print(kwargs)
    
    print('I want {} {}'.format(args[1],kwargs['food']))

In [20]:
myfunc(10,12,14,fruit='apple',food='eggs')

(10, 12, 14)
{'fruit': 'apple', 'food': 'eggs'}
I want 12 eggs

In [3]:
def myfunc(*args):
    for i in args:
        if i%2==0:
            return i
        i++
        else:
            pass

SyntaxError: invalid syntax (2916978564.py, line 5)

In [2]:
myfunc(1,6,3,4,7,9)

6

In [4]:
a=(1,2,3,4,5,6,7,8)

In [18]:
def even_number(*args):
    for i in args:
        if i%2==0:
            return i
        else:
            pass

In [19]:
even_number(2,3,4,5,6)

2

In [21]:
for i range 10:
    print i

SyntaxError: invalid syntax (2010098353.py, line 1)

Lambda Experssions Map and Filter

In [37]:
n=[1,2,3,4,5]

In [38]:
def square(n1):
    return n1**2

In [34]:
for i in map(square,n):
    print(i)

1
4
9
16
25

In [40]:
list(map(square,n))

TypeError: 'function' object is not iterable

In [8]:
def even(l):
    for i in l:
        if len(l)%2==0:
            return 'Even'
        else:
            return l[0]

In [9]:
names=['Mounik','sai','site']

In [10]:
list(map(even,names))

['Even', 's', 'Even']

In [11]:
def check_even(n):
    return n%2==0

In [12]:
n=[1,2,3,4,5,6]

In [13]:
list(filter(check_even,n))

[2, 4, 6]

In [15]:
for i in filter(check_even,n):
    print(i)

2
4
6

In [16]:
def squ(n):
    return n**2

In [17]:
squ(3)

9

In [19]:
s=lambda num:num**2

In [20]:
s(5)

25

In [21]:
list(map(lambda n:n**2,n))

[1, 4, 9, 16, 25, 36]

Nested Statements and Scopes

In [1]:
x=25

def printer(x):
    x=50
    return x

In [2]:
print(x)

25

In [3]:
print(printer(x))

50

LEGB rule:

L- Local :- Names assigned in any way within a funtion (def/lambda) and not declared in global functions

E- Enclosing Function locals :- Names in the lovcal scope of any and all enclosing functions (def/lambda) , from inner to outer

G- Global(Module) :- Names assigned at the top -level of a module file  or declared global in a def with in a file

B- Built-in(Python) :- Names preassigned in the built-in names module: open,range,SyntaxError,---

example :
local - lambda num: num**2

In [4]:
name='This is a global string'
def fuc1():
    name='sammy'
    def fuc2():
        print('Hello'+ name)
    fuc2()

In [5]:
fuc1()

Hellosammy

In [6]:
name='This is a global string'
def fuc1():
    #name='sammy'
    def fuc2():
        print('Hello'+ name)
    fuc2()

In [7]:
fuc1()

HelloThis is a global string

In [8]:
name='This is a global string'
def fuc1():
    #name='sammy'
    def fuc2():
        name =' Local string'
        print('Hello'+ name)
    fuc2()

In [10]:
fuc1()

Hello Local string

In [17]:
x=50
def func(x):
    print(f'x is {x}')
    
    x=200
    print(f'I just locally changes x to {x}')

In [18]:
func(x)

x is 50
I just locally changes x to 200

In [19]:
print(x)

50

In [24]:
x=50
def func():
    global x
    print(f'x is {x}')
    
    x='new sytring'
    print(f'I just locally changes x to {x}')

In [25]:
print(x)

50

In [26]:
func()

x is 50
I just locally changes x to new sytring

In [27]:
print(x)

new sytring